[user]
	email = gentoolicious@gmail.com
  name = Brandon Burnett
[core]
  excludesfile = ~/.gitignore
[alias]
  ahead = log origin/master..HEAD --oneline
  branch-sort  = !sh -c 'git branch | sort -V'
  co = checkout
  compare-tags = !sh -c 'git log --pretty=oneline --reverse tags/$0..tags/$1'
  compress = !sh -c 'git reset --soft HEAD~$0'
  di = diff
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  last-tag = !sh -c 'git tag -l | grep -v ^tags/ | sort -V | tail -1'
  list-versions = !sh -c 'git tag -l | sort -V'
  pullpr = !sh -c 'git fetch origin pull/$0/head:pr/$0 && git checkout pr/$0'
  show-file-diff = diff --name-only
  st = status
  undo-commit = reset --soft HEAD~1
[push]
  default = simple
  autoSetupRemote = true
[color]
  diff = auto
[merge]
  tool = vimdiff
[url "https://:@privategitlab.com"]
	insteadOf = https://privategitlab.com
[pull]
	rebase = false
[url "git@source.datanerd.us:"]
	insteadOf = https://source.datanerd.us/
